<section class="head position-relative">
    <app-navbar></app-navbar>
    <div class="head-content">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-12 ">
                    <div class="mt-4 left-head">
                        <span>Become Master</span>
                        <h1>
                            Learn New Skills Online Find Best Courses
                        </h1>
                        <div class="buttons">
                            <button class="btn getQuote">Get Quote</button>
                            <button class="btn readMore">Read More </button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 right-header">
                    <img src="../../../assets/img/header.png" alt="">
                </div>
            </div>

        </div>

    </div>
    <div class="my-count-down container position-absolute d-flex align-items-center">
        <div class="col-lg-7">
            <div class="d-flex success align-items-center">
                <img src="../../../assets/img/Success.png" alt="">
                <h2>
                    Upcoming Our <span class="basic">Basic in Python</span> Course
                </h2>
            </div>
        </div>

        <div class="col-lg-5">
            <count-down></count-down>
        </div>

    </div>
</section>