@import "../../../styles.scss";

.featured{
    padding:134px 0 50px 0 ;
    h2{
        color: $mainColor;
        font-family: $georgFont;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 32px;
    }
    .card{
        margin-bottom: 30px;
        min-height: 305px;
        border-color: #BDBDBD;
        h5{
            font-size: 18px;
            font-weight: bold;
            margin:0;
        }
        p{
            font-size: 14px;
            color: #757575;
            
        }
        .card-body{
            position: relative;
            padding-top: 36px;
            img{
                position: absolute;
                left: 16px;
                top: -45px;
            }
        }
    }
    @media(max-width:400px){
        h2{
            font-size: 28px;
        }
    }
}