<section class="statistics text-center">
    <div class="container">
        <div class="row stat-holder">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="assets/img/4.png" alt="">
                <h3>768</h3>
                <span class="text-uppercase">COURSES PUBLISHED</span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="assets/img/3.png" alt="">
                <h3>120</h3>
                <span class="text-uppercase">EXPERT INSTRUCTORS</span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="assets/img/2.png" alt="">
                <h3>8,300</h3>
                <span class="text-uppercase">HAPPY LEARNERS</span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="assets/img/1.png" alt="">
                <h3>32</h3>
                <span class="text-uppercase">AWARDS ACHIEVED</span>
            </div>
        </div>
    </div>
</section>